.card {
  margin: 0.5rem;
  width: 100%;
  padding: 0 1rem 1rem 1rem;
}

.item {
  margin: 0.5rem 0;
}

.button {
  width: 7rem;
  align-self: flex-end;
}

@media only screen and (min-width: 961px) {
  .card {
    flex: 1;
  }
}
